<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mcmac.kompistippning">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddActivity"
            android:label="@string/addButton" />
        <activity
            android:name=".CompetitionActivity"
            android:label="@string/viewCompetitionButton" />
        <activity
            android:name=".StatisticsActivity"
            android:label="@string/viewStats" />
        <activity android:name=".BetActivity"
            android:label="@string/betButton" />
    </application>

</manifest>
